-
  const headerList = [
    { id: 'record', label: '交易紀錄', icon: 'icon-coin', href: 'record.html' },
    { id: 'setting', label: '設定', icon: 'icon-setting', href: 'setting.html' },
    { id: 'signout', label: '登出', icon: 'icon-logout', href: '#' },
  ]

  const NAV_LIST = [
    { id: 'noteboard', label: '露西面試助理', icon: 'icon-noteboard', href: 'index.html' },
    { id: 'website', label: '徵才網站', icon: 'icon-website', href: 'website.html' },
    { id: 'boy', label: '職缺', icon: 'icon-boy', href: 'opening.html' },
    { id: 'interview', label: '面試連結', icon: 'icon-interview', href: 'user-list.html' },
    { id: 'folder', label: '面試者資料', icon: 'icon-folder', href: 'response.html' },
    { id: 'plans', label: '方案', icon: 'icon-plans', href: 'plan.html' },
    { id: 'share', label: '露西交流網', icon: 'icon-share', href: '' },
    { id: 'setting', label: '設定', icon: 'icon-setting', href: 'setting.html' },
  ]

  const NOTIFICATION_LIST_TODAY = [
    { tips: false, icon: 'icon-user', picture: '', label: '平面設計師 職缺創建完成', text: '您創建的職缺「平面設計師」，露西助理已經為您創建成功！趕快公開連結尋覓對的人選。', date: '2021-12-26' },
    { tips: false, icon: '', picture: './images/截圖 2021-12-21 上午11.02 1.jpg', label: '陳俞靜 面試者應徵 平面設計師', text: '來自面試者 陳俞靜 應徵平面設計師一職。', date: '2021-12-26' },
    { tips: true, icon: 'icon-calendar', picture: '', label: '您客製化題目已創建完成', text: '您創建的題目「How much monthly budget have you managed in SEM? How did you spend it?」已創建完成。', date: '2021-12-26' },
    { tips: true, icon: '', picture: './images/截圖 2021-12-21 上午11.02 1.jpg', label: '陳俞靜 面試者應徵 平面設計師', text: '來自面試者 陳俞靜 應徵平面設計師一職。', date: '2021-12-26' },
    { tips: true, icon: 'icon-coin', picture: '', label: '露西助理已收到您的款項', text: '露西助理收到款項了！恭喜您成功更換成企業版方案，享受更多露西助理提供的優質服務！', date: '2021-12-26' },
    { tips: false, icon: 'icon-website', picture: '', label: '徵才網站完成創建', text: '恭喜你，擁有屬於你的徵才網站囉！可以盡情編輯你所需要的職缺內容。', date: '2021-12-26' },
  ]

  const notificationMessageToday = [
    { tips: false, icon: 'icon-user', picture: '', label: '平面設計師 職缺創建完成', text: '您創建的職缺「平面設計師」，露西助理已經為您創建成功！趕快公開連結尋覓對的人選。', date: '2021-12-26' },
    { tips: false, icon: '', picture: './images/截圖 2021-12-21 上午11.02 1.jpg', label: '陳俞靜 面試者應徵 平面設計師', text: '來自面試者 陳俞靜 應徵平面設計師一職。', date: '2021-12-26' },
    { tips: true, icon: 'icon-calendar', picture: '', label: '您客製化題目已創建完成', text: '您創建的題目「How much monthly budget have you managed in SEM? How did you spend it?」已創建完成。', date: '2021-12-26' },
    { tips: true, icon: '', picture: './images/截圖 2021-12-21 上午11.02 1.jpg', label: '陳俞靜 面試者應徵 平面設計師', text: '來自面試者 陳俞靜 應徵平面設計師一職。', date: '2021-12-26' },
    { tips: true, icon: 'icon-coin', picture: '', label: '露西助理已收到您的款項', text: '露西助理收到款項了！恭喜您成功更換成企業版方案，享受更多露西助理提供的優質服務！', date: '2021-12-26' },
  ]

  const NOTIFICATION_LIST_BEFORE = [
    { tips: false, icon: '', picture: './images/截圖 2021-12-21 上午11.02 1.jpg', label: '陳俞靜 面試者應徵 平面設計師', text: '來自面試者 陳俞靜 應徵平面設計師一職。', date: '2021-12-26' },
    { tips: false, icon: 'icon-user', picture: '', label: 'UI設計師 職缺創建完成', text: '您創建的職缺「UI設計師」，露西助理已經為您創建成功！趕快公開連結尋覓對的人選。', date: '2021-12-26' },
    { tips: true, icon: 'icon-calendar', picture: '', label: '您客製化題目已創建完成', text: '您創建的題目「How much monthly budget have you managed in SEM? How did you spend it?」已創建完成。', date: '2021-12-26' },
    { tips: false, icon: 'icon-security', picture: '', label: '您的「企業」方案已快到期', text: '您所使用的企業方案在2021-01-22即將到期，請儘速更新您的方案或是聯絡露西助理。', date: '2021-12-26' },
    { tips: true, icon: '', picture: './images/截圖 2021-12-21 上午11.02 1.jpg', label: '陳俞靜 面試者應徵 平面設計師', text: '來自面試者 陳俞靜 應徵平面設計師一職。', date: '2021-12-24' },
  ]

  const userTitleObject = ['職缺名稱', '面試者資訊', '線上面試回傳影片', '狀態', '聯絡他']

mixin header(id='')
  header.header__wrap.bg.bg-white
    .header__container.flex.items-center.justify-end.py-29px.px-50px
      .header__tool.flex.items-center
        .header__icon.icon.icon-20px.icon-search
        input.header__search__wrap.hidden.mx-8px(type="text" placeholder="請輸入求職者名稱")
      .header__tool
        .header__icon.icon.icon-20px.icon-notification.icon-red-dot
        .remind__message__wrap.bg.bg-white.hidden
          .remind__message__container
            .remind__message__top.flex.items-center
              .remind__message__icon
              .remind__message__title.font.text-18px 通知
              a.remind__go.flex(href="notification.html")
                .remind__go-text 查看全部通知
                .remind__go-icon
            .remind__message__list
              +notification-list('今日通知', notificationMessageToday)
              +notification-list('先前通知', NOTIFICATION_LIST_BEFORE)
      .header__tool
        .header__icon.icon.icon-20px.icon-profile
        .header__member__wrap.bg.bg-white.hidden
          .remind__member__container
            .remind__member__title.flex.items-center
              .remind__member__icon.icon.icon-20px.icon-user
              .remind__member__label.font.text-18px 諾比科技
            .remind__member__list
              for value in headerList
                if value.id === id
                  a.remind__member__item.my-4px.flex.items-center.active(href=value.href)
                    .remind__member__icon.bg.bg-black.icon.icon-20px(class=value.icon)
                    .remind__member__text.font.text-16px.color-black= value.label
                else
                  a.remind__member__item.my-4px.flex.items-center(href=value.href)
                    .remind__member__icon.bg.bg-black.icon.icon-20px(class=value.icon)
                    .remind__member__text.font.text-16px.color-black= value.label

mixin nav(id='')
  aside.aside__wrap.bg.bg-black.font.color-white.font.text-16px
    a.aside__logo(href="/")
      img.icon(src="./images/nav_logo_icon.svg")
      img.text(src="./images/nav_logo_text.svg")
    ul.aside__list
      for value in NAV_LIST
        if value.id === id
          li.aside__item.active
            a.aside__link.flex.items-center.bg.bg-green.font.color-black(href=value.href)
              .aside__icon.icon.icon-18px.mr-15px.bg.bg-white(class=value.icon)
              .aside__label=value.label
        else 
          li.aside__item
            a.aside__link.flex.items-center.font.color-white(href=value.href)
              .aside__icon.icon.icon-18px.mr-15px.bg.bg-white(class=value.icon)
              .aside__label=value.label
    .aside__help.flex.items-center.justify-center
      .help__icon.icon.icon-20px.icon-prize.bg.bg-green.mr-15px
      .help__text.font.text-16px 露西給您更多服務

mixin h1(text)
  h1.page-title.font.text-24px= text

mixin notification-list(title, list)
  .notification__wrap
    .notification__title.font.text-16px= title
    .notification__container
      ul.notification__list
        for value in list
          li.notification__item.flex.items-center.mb-22px
            if value.tips
              .notification__tips.mr-13px.dot
            else
              .notification__tips.mr-13px.dot.dot-red
            
            if value.picture
              img.notification__picture.bg.bg-green(src=value.picture)
            else if value.icon
              .notification__picture.bg.bg-green.flex.items-center.justify-center
                .icon.icon-18px(class=value.icon)
            else
              .notification__picture.bg.bg-green
            .notification__detail.flex-1
              .notification__label.flex.justify-between.mb-5px
                .label=value.label
                .date=value.date
              .notification__text=value.text

mixin switch(list)
  .switch__list.flex.items-center
    for value in list
      .switch__item(class=`${value.id} ${value.active ? 'active' : ''}`)
        span.label= value.label
          if value.dot
            .dot.dot-red

mixin input-wrap(value)
  .form__item
    if value.required
      label.form__label.label(for=value.id)= value.label
        span *
    else
      label.form__label.label(for=value.id)= value.label
    input.form__input.input(id=value.id placeholder=value.placeholder name=value.id)
    .form__text.font.text-12px= value.text

mixin textarea-wrap(value)
  .form__item
    if value.required
      label.form__label.label(for=value.id)= value.label
        span *
    else
      label.form__label.label(for=value.id)= value.label
    .form__textarea__wrap
      textarea.form__textarea(id=value.id placeholder=value.placeholder)

mixin select-wrap(value)
  .form__item
    if value.required
      label.form__label.label(for=value.id)= value.label
        span *
    else
      label.form__label.label(for=value.id)= value.label
    select.select(id=value.id)

//- 進度條
mixin progress(list)
  .progress__wrap
    .progress__container.flex.item-center
      each item, index in list
        if item.active
          .progress__item.flex.flex-col.items-center.active
            .progress__number.flex.justify-center.items-center= index + 1
              .progress__line
            .progress__label.font.text-12px= item.label
        else
          .progress__item.flex.flex-col.items-center
            .progress__number.flex.justify-center.items-center= index + 1
              .progress__line
            .progress__label.font.text-12px= item.label

//- 頁籤
mixin page
  .page__wrap.flex.justify-between
    .page-select__container.flex.items-center
      span 顯示
      .field
        select.input
          option 10
          option 20
      span ，共 3 個項目
    .page-unmber__container
      .page__prev.icon.icon-10px.icon-arrow-left
      .page__list
        a.page__item.active 1
        a.page__item 2
        a.page__item 3
        a.page__item 4
      .page__next.icon.icon-10px.icon-arrow-left


//- 共用
mixin common
  .message_list