include ./templete/mixin.pug
doctype html
html(lang="zh-TW")
  include ./templete/head.pug
  body
    +common
    .container.flex
      +nav('boy')
      .content
        +header()
        #opening-setup-1.content-article.flex.flex-col
          .vacancies__top.flex
            a.vacancies-back.flex.items-center(href="#")
              .vacancies-back__icon.icon.icon-16px.icon-back
              .vacancies-back__label.font.color-black 返回
            -
              const PROGRESS_WRAP = [
                { label: '職缺名稱', active: true },
                { label: '選擇問題' },
                { label: '成功創建' },
              ]
            .vacancies__progress
              +progress(PROGRESS_WRAP)

          .vacancies__content.flex
            .vacancies__input__data
              .vacancies-setup__title.flex.items-center
                .vacancies-setup__icon.number__icon 1
                .vacancies-setup__label.font.text-24px 創建職缺
              .step-1__list
                .opening-setup-1__step-1.hidden
                  .vacancies-setup-detail__title.flex.items-center
                    .vacancies-setup__icon.icon.icon-18px.icon-user
                    .vacancies-setup__label.font.text-18px 職缺名稱
                    .vacancies-setup__step.ml-auto 1/3
                  .field
                    .label
                      | 職缺名稱
                      span.font.color-red *
                    input.input#opening-setup-1-title(placeholder="請輸入職缺名稱")
                  .field.mt-20px
                    .label
                      | 工作內容
                      span.font.color-red *
                    .field__textarea__wrap(data-count="1500")
                      textarea.field__textarea#opening-setup-1-content(placeholder="請輸入您對於該職缺的工作內容。")
                  .field.mt-20px
                    .label
                      | 需求條件
                      span.font.color-red *
                    .field__textarea__wrap(data-count="1500")
                      textarea.field__textarea#opening-setup-1-condition(placeholder="請輸入您對於該職缺的期望需求條件。")
                .opening-setup-1__step-2.hidden
                  .vacancies-setup-detail__title.flex.items-center
                    .vacancies-setup__icon.icon.icon-18px.icon-resume
                    .vacancies-setup__label.font.text-18px 職務需求
                    .vacancies-setup__step.ml-auto 2/3
                  .field.mb-20px
                    .label 工作待遇
                    .input.flex.items-center.coin-choose
                      .icon.icon-18px.icon-coin
                      select(placeholder="計薪方式")#opening-setup-1-salary
                        -
                          const MONEY_LIST = [
                            { id: 'year', label: '年薪' },
                            { id: 'month', label: '月薪' },
                            { id: 'hour', label: '時薪' },
                            { id: 'double', label: '雙周薪(Bi-Weekly)' },
                            { id: 'custom', label: '面議' },
                          ]
                        for item in MONEY_LIST
                          option(value=item.label)= item.label 
                      .field-line
                      input.flex-1#opening-setup-1-count(placeholder="請輸入薪資金額")
                  .field.mb-20px
                    .label
                      | 工作性質
                      span.font.color-red *
                    select.input#opening-setup-1-type(
                      placeholder="請選擇工作性質"
                    )
                      -
                        const TYPE_LIST = [
                          { id: 'full', label: '全職' },
                          { id: 'part', label: '兼職' },
                          { id: 'practice', label: '實習' },
                        ]
                      for item in TYPE_LIST
                        option(value=item.label)= item.label 
                  .field.mb-20px
                    .label 工作地點
                    input.input#opening-setup-1-address(placeholder="請輸入工作地點")
                  .field.mb-20px
                    .label 可否遠端
                    -
                      const CHECKBOX_LIST = [
                        { id: 'yes', label: '是' },
                        { id: 'no', label: '否' },
                        { id: 'any', label: '彈性' },
                      ]
                    .checkbox__wrap.flex.items-center
                      for item in CHECKBOX_LIST
                        .checkbox.flex.items-center.mr-16px
                          input.checkbox__input(id=item.id type="radio" name="job" value=item.label)
                          label.ml-8px(for=item.id)= item.label
                .opening-setup-1__step-3.hidden
                  .vacancies-setup-detail__title.flex.items-center
                    .vacancies-setup__icon.icon.icon-18px.icon-upload
                    .vacancies-setup__label.font.text-18px 職缺填寫需求與檔案上傳
                    .vacancies-setup__tips.font.text-12px.color-red * 此為求職者必填選項
                    .vacancies-setup__step.ml-auto 3/3
                  .vacancies-setup-detail__tips.font.text-12px.color-gray
                    | 您對求職者要求填寫個人資訊，請勾選您需要求職者上傳的基本資料。
                    br
                    |（支援檔案類型 pdf. doc. docx. jpg. png. 或 URL / 檔案上限 5 MB)  
                  .vacancies-setup-detail__type
                    .vacancies-setup-detail__type__title.font.color-gray 必填：
                    .vacancies-setup-detail__type__list.default.flex.flex-wrap
                      -
                        const TYPE_DEFAULT_LIST = [
                          { id: 'default-name', label: '姓名', required: 'true' },
                          { id: 'default-mail', label: '信箱', required: 'true' },
                          { id: 'default-phone', label: '聯絡電話', required: 'true' },
                          { id: 'default-resume', label: '履歷', required: 'true' },
                          { id: 'default-cv', label: 'CV' },
                        ]
                      for value in TYPE_DEFAULT_LIST
                        .vacancies-setup-detail__type__item
                          input(type="checkbox" id=value.id value=value.label)
                          label(for=value.id)
                            span= value.label
                            if value.required
                              span.font.color-red *
                    .vacancies-setup-detail__type__title.font.color-gray 選填：
                    .vacancies-setup-detail__type__list.chose.flex.flex-wrap
                      -
                        const TYPE_CHOSE_LIST = [
                          { id: 'chose-name', label: '姓名' },
                          { id: 'chose-mail', label: '信箱' },
                          { id: 'chose-phone', label: '聯絡電話' },
                          { id: 'chose-resume', label: '履歷' },
                          { id: 'chose-cv', label: 'CV' },
                        ]
                      for value in TYPE_CHOSE_LIST
                        .vacancies-setup-detail__type__item
                          input(type="checkbox" id=value.id value=value.label)
                          label(for=value.id)
                            span= value.label
              .vacancies-setup-detail__bottom.mb-24px.mt-38px
                a.setup-1-save__button.button.white.shadow.mr-24px
                  .vacancies-setup-detail__icon.icon.icon-16px.icon-save
                  .vacancies-setup-detail__label 儲存草稿
                a.setup-1-next__button.button.black.flex.items-center.shadow.mr-24px
                  .vacancies-setup-detail__icon.icon.icon-16px.icon-back.icon-rotate-180.bg.bg-white
                  .vacancies-setup-detail__label 下一步

            .website-preview
              .website-preview__wrap
                .website-preview__container.bg.bg-white
                  .website-preview__link.flex.items-center
                    .website-preview__dot
                    .website-preview__dot
                    .website-preview__dot
                    .website-preview__url.font.text-12px recruit.website
                  .website-preview__step__wrap
                    .website-preview__step-1.hidden
                      .website-preview__banner
                        img.website-preview__banner__img
                        .website-preview__banner__content.flex.items-center.justify-between
                          .website-preview__banner-center__tips.flex.flex-col
                            .website-preview__banner-center__logo.flex.items-center.justify-center
                              img.website-preview__banner-center__logo__img.flex.items-center.justify-center(alt="LOGO")
                            .website-preview__banner-center__title.font.color-white.text-12px.mt-22px 請於左方輸入框填入貴公司所希望呈現在網頁上的簡介文字。
                          .website-preview__banner__tips.flex.items-center
                            .website-preview__banner__icon.icon.icon-34px.icon-edit.bg.bg-white.mr-17px
                            .website-preview__banner__label.font.text-16px.color-white 露西助理提醒您<br>請填寫左方資料進行預覽
                      .website-preview__content
                        .website-preview__top.flex
                          .website-preview__search.flex.items-center
                            .website-preview__icon.icon.icon-18px.icon-search.mr-13px
                            input.website-preview__input.flex-1(placeholder="輸入您想找的職缺")
                          .field.ml-15px
                            select.website-preview__select.input
                              option(disabled selected) 工作性質
                          .field.ml-15px
                            select.website-preview__select.input
                              option(disabled selected) 工作地點
                          .field.ml-15px
                            select.website-preview__select.input
                              option(disabled selected) 可否遠端

                        h2.font.text-24px 職缺列表

                        .website-preview__detail__wrap
                          .website-preview__detail__container
                            #website-title.website-preview__detail__tips.font.text-16px.font-bold.mb-26px 工作職稱
                            .website-preview__detail__title.font.font-bold.mt-26px.mb-19px 工作內容
                            #website-content.website-preview__detail__detail.font.text-12px 此處為工作內容細節，等待您輸入。
                            .website-preview__detail__title.font.font-bold.mt-26px.mb-19px 需求條件
                            #website-condition.website-preview__detail__detail.font.text-12px 此處為需求條件細節，等待您輸入。
                            .website-preview__detail__title.font.font-bold.mt-26px.mb-19px 職務要求
                            .website-preview__detail__detail.font.text-12px
                              -
                                const LIST = [
                                  { id: 'opening-setup-1-treatment', label: '工作待遇', text: '等待您輸入' },
                                  { id: 'opening-setup-1-nature', label: '工作性質', text: '等待您輸入' },
                                  { id: 'opening-setup-1-place', label: '工作地點', text: '等待您輸入' },
                                  { id: 'opening-setup-1-remote', label: '可否遠端', text: '等待您輸入' },
                                ]
                              for item in LIST
                                .website-preview__detail__item.flex.items-center.mb-4px
                                  span= item.label
                                  span.ml-8px.mr-17px | 
                                  span.website-preview__text(id=item.id)
                            .website-preview__detail__button.button.black 我要應徵
                    .website-preview__step-2.hidden
                      .website-preview__step-1__container.mx-auto
                        .website-preview__step-1__default
                          h2.user__h2.font.text-24px.flex.items-center
                            .number__icon.font.text-12px 1
                            | 嗨！我們很開心能認識你。
                            .icon.down
                          .user__tips__zone.flex.items-center
                            .user__tips__icon.icon.icon-18px.icon-user.mr-12px
                            .user__tips__label 基本資料
                            .user__tips__required * 必填
                          .user-text__tips.font.text-12px 請填寫您的基本資料。
                        .website-preview__step-1-default__list.mb-40px
                        .website-preview__step-1-default__bottom.flex.items-center.flex-col
                          .user__bottom__button.button.black.items-center.justify-center
                            .icon.icon-18px.icon-back.icon-rotate-180.bg.bg-white
                            | 確定，下一步
                         

                        .website-preview__step-1__chose
                          h2.user__h2.font.text-24px.flex.items-center
                            .number__icon.font.text-12px 2
                            | 請上傳相關檔案，讓我們更了解你。
                            .icon.down
                          .user__tips__zone.flex.items-center
                            .user__tips__icon.icon.icon-18px.icon-user.mr-12px
                            .user__tips__label 其他應徵資料
                            .user__tips__required * 必填
                          .user-text__tips.font.text-12px 請提供您應徵此職缺相對應的學經歷資料。
                        .website-preview__step-1-chose__list.mb-40px
                        .website-preview__step-1-chose__bottom.flex.items-center.flex-col
                          .user__bottom__button.button.black.items-center.justify-center
                            .icon.icon-18px.icon-double-checkmark.bg.bg-white
                            | 確定送出